<noscript>
  <a href="https://www.enable-javascript.com/" target="_blank" style="text-decoration:none; font-size: 1.1rem; font-weight: 800;">
    <div style="text-align: center; color: #343a40; background-color: #ffc107; padding-top: 1rem; padding-bottom: 1rem;">
      This site requires JavaScript. Please enable it.<br/>
      <span style="color: #007bff;"><u>See instructions to enable JavaScript in your web browser.</u></span>
    </div>
  </a>
</noscript>
