<!DOCTYPE html>
<html lang="en">
<head>
  <title>Express Turbolinks</title>
  <%- include(views + '/shared/_head.html.ejs') %>
</head>
<body>
  <%- include(views + '/shared/_js_required_warning.html.ejs') %>

  <header>
    <h1>Express Turbolinks</h1>
  </header>
</body>
</html>
